# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/be/.vs/ProjectEvaluation
/be/.vs/CoreBanking/CopilotIndices/17.12.53.23981/CodeChunks.db
/be/.vs/CoreBanking/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
/be/.vs/CoreBanking/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
/be/.vs/CoreBanking/CopilotIndices/17.12.53.23981/SemanticSymbols.db
/be/.vs/CoreBanking/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
/be/.vs/CoreBanking/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
/be/.vs/CoreBanking/DesignTimeBuild/.dtbcache.v2
/be/.vs/CoreBanking/FileContentIndex/095c8b7e-ff1d-46d7-91b3-99c0c2f24c99.vsidx
/be/.vs/CoreBanking/FileContentIndex/5a129970-1bf4-442a-a8dd-ee068de47592.vsidx
/be/.vs/CoreBanking/FileContentIndex/70a5efa3-7106-4500-b9ef-0679b39deb2c.vsidx
/be/.vs/CoreBanking/FileContentIndex/e3b81237-88b5-4a64-861b-410ee6dec3ea.vsidx
/be/.vs/CoreBanking/FileContentIndex/ebea11f4-6fcb-46bb-98a7-2d0d79115ac8.vsidx
/be/.vs/CoreBanking/v16/.suo
/be/.vs/CoreBanking/v17/.futdcache.v2
/be/.vs/CoreBanking/v17/.suo
/be/.vs/CoreBanking/v17/DocumentLayout.backup.json
/be/.vs/CoreBanking/v17/DocumentLayout.json
/be/CoreBanking.API/bin
/be/CoreBanking.API/obj
/be/.vs
/be/CoreBanking.Infrastructure/bin
/be/CoreBanking.Infrastructure/obj
/be/CoreBanking.Application/bin
/be/CoreBanking.Application/obj
/be/CoreBanking.Domain/bin
/be/CoreBanking.Domain/obj
